<!DOCTYPE html>
<html>
<head>
	<title>Update Product</title>
</head>
<body>

	<div class="container">
		<div class="row">
			<%= form_for @product do |f| %>
			<div class="form-group" style="margin-top: 30px">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control" %>
			</div>
			<div>
				<%= f.label :stock %>
				<%= f.number_field :stock, class: "form-control" %>
			</div>
			<div>
				<%= f.submit class: "btn btn-primary", style: "margin-top:30px" %>
			</div>
			<% end %>
		</div>
	</div>

</body>
</html>