<!DOCTYPE html>
<html>
<head>
	<title>My Application With Ruby on Rails</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<%= link_to "create product", new_product_path, class: "btn btn-success", style:"margin-top:30px; margin-bottom:30px" %>
			<table class="table table-bordered table-hover table-responsive">
				<thead>
					<th>Name Product</th>
					<th>Stock Product</th>
					<th colspan="2">Action</th>
				</thead>
				<% @products.each do |product|  %>
				<tr>
					<td><%= product.name %></td>
					<td><%= product.stock %></td>
					<td><%= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %></td>
					<td><%= link_to "Delete", product, method: :delete,class: "btn btn-danger", data: { confirm: "Are you sure want to delete" } %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>

</body>
</html>