<!DOCTYPE html>
<html>
<head>
	<title>Create Product</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<%= form_for @product do |f| %>
			<div class="form-group">
				<%= f.label :name_product, style: "margin-top:30px" %>
				<%= f.text_field :name, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :stock %>
				<%= f.number_field :stock, class: "form-control" %>
			</div>
			<div>
				<%= f.submit class: "btn btn-primary" %>
			</div>
			<% end %>
		</div>
	</div>

</body>
</html>
